html {
    font: size 0.6rem;;
}
body{
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    font-family: "roboto" serif;
    font-size: 1rem;
    color: #17202A  ;
    max-width: 1200px;
    margin: auto;
}
h1
h2
h3
h4
h5
h6 {
font-family: "inter" serif;
font-weight: 600;
color:#17202A ;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: paleturquoise;
}
a:hover,
a:focus {
color: #1d4ed8;
}
