
.blog-card-wrapper{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width:576px) {
    .blog-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
    }
}

.blog-card {
border: 1px solid gray;
border-radius: 4px;
}
.blog-card:hover{
    cursor:pointer;
}
@media screen and (min-width:576px) {
    .blog-card{
        width:calc((100% - 10px - 4px)/2);
    }
}

.blog-card-image> img {
object-fit: cover;
width: 100%;
height: 250px;
}

.blog-card-body {
padding: 4px;
}
.blog-card-title{
    text-align: left;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.blog-card-info{
    margin-bottom: 5px;
}